<div class="page-body-wrapper full-page-wrapper auth-page">
    <div class="content-wrapper-nopadding auth auth-bg-1 theme-one">
       
            <div class="rtl-form">
                <h1 class="text-center mb-4" style="color:white;">Bookito</h1>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label class="label" style="color:whitesmoke;">Usuario</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" name="codigo" [(ngModel)] = "loginForm.codigo" placeholder="Código de alumno">
                               
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label" style="color:whitesmoke;">Contraseña</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" name="password" [(ngModel)]="loginForm.password"  placeholder="*********">
                               
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                            <button class="btn btn-primary submit-btn btn-block" (click)="login()">Iniciar Sesión</button>
                        </div>


                        <div class="text-block text-center my-3">
                            <span class="card-title font-weight-semibold" style="color:whitesmoke;">¿No está registrado? </span>
                            <br>
                            <a routerLink="/register" class="text-small" style="color:whitesmoke;">Crear una cuenta</a>
                        </div>
                    </form>
                </div>


        </div>
    </div>
    <!-- content-wrapper ends -->
</div>