<div class="page-body-wrapper full-page-wrapper auth-page">
    <div class="content-wrapper-nopadding auth register-bg-1 theme-one">
        
            <div class="rtl-form-rg">
                <h1 class="text-center mb-4" style="color:white;">Registro</h1>
                <div class="card-body">
                    <form action="#">
                        <div class="form-group">
                                <label class="label" style="color:whitesmoke;">Nombre de Alumno</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="email" class="form-control" placeholder="Nombre">
                                </div>
                            </div>


                        <div class="form-group">
                            <label class="label" style="color:whitesmoke;">Usuario</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="email" class="form-control" placeholder="Código de alumno">
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label" style="color:whitesmoke;">Contreseña</label>
                            <div class="input-group">
                                
                                <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Contraseña">
                                
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                            <button class="btn btn-primary submit-btn btn-block">Crear cuenta</button>
                        </div>

                        <div class="text-block text-center my-3">
                            <span class="card-title font-weight-semibold" style="color:whitesmoke;">¿Ya tienes una cuenta?</span>
                            <br>
                            <a routerLink="/login" class="text-black text-small" style="color:whitesmoke;">Ir al login</a>
                        </div>
                    </form>
                </div>
            </div>
        
    </div>
    <!-- content-wrapper ends -->
</div>
<!-- page-body-wrapper ends -->