<nav class="sidebar sidebar-offcanvas ">
    <ul class="nav" style="padding-top: 15px;">
        
        <!-- Bookito proyecto -->
     
        <li class="nav-item ">
            <a routerLink="/categoria" class="nav-link ">
                <i class="menu-icon fa fa-table"></i>
                <span class="menu-title">Categorias</span>
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/reserva" class="nav-link">
                <i class="menu-icon fa fa-calendar-check"></i>
                <span class="menu-title">Reservas</span>
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/reglamento" class="nav-link">
                <i class="menu-icon fa fa-book"></i>
                <span class="menu-title">Reglamento Bookito</span>
            </a>
        </li>

        
    </ul>

    <ul class="nav">
        <li class="nav-item" style="position:fixed; bottom: 5px; width: 220px;">
            <a routerLink="/login" class="nav-link cursor">
                <i class="menu-icon fa fa-sign-out-alt"></i>
                <span class="menu-title">Cerrar sesión</span>
            </a>
        </li>
    </ul>

</nav>