<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Lista de Resultados</h4>
            
              <hr>
              <table class="table">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Autor</th>
                        
                    </tr>
                </thead>
<!--
                <tbody>
                    <tr *ngFor="let categoria of categorias">
                        <td>{{categoria.name}}</td>
                        <td>{{categoria.description}}</td>
                        <td>Modificar</td>
                        <td>Eliminar</td>
                     </tr>
                </tbody>
-->
            </table>
          </div>
      </div>
  </div>
</div>